/*
	Author: Wilando Ron Caulin
	Date Created: September 30, 2014
	Project Name: Portfolio Website
*/

	body
	{
		
		margin: 0;
		padding: 0;
			background-image: url('../images/header.jpg');
		background-size: cover;
	}
	
	/* --------Header------------------- */

.homepage #header
		{
			padding: 4em 0 4em 0;
		}
	
			.homepage #header .overlay
			{
				content: '';
				background: #040305;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 1.0;
		
			}
		
			.homepage #header.ready .overlay
			{
				opacity: 0;
			}

		#header
	{
		position: relative;
		background-position: center center;
		background-attachment: fixed;
		color: #fff;
		text-align: center;
		
	}

		#header .inner
		{
			position: relative;
			z-index: 1;
			margin: 0;
			padding: 4em 0 0 0;
		}
	
		#header h1
		{
			color: #fff;
			font-size: 3em;
			line-height: 1em;
		}

			.homepage #header h1
			{
				font-size: 4em;
			}
		
			#header h1 a
			{
				color: inherit;
			}
	
		#header .byline
		{
			font-size: 1.25em;
			margin: 0;
		}
		
		#header .button
		{
			border-radius: 100%;
			width: 4.5em;
			height: 4.5em;
			line-height: 4.5em;
			text-align: center;
			font-size: 1.25em;
			padding: 0;
		}
		
		#header header
		{
			display: inline-block;
		}
		
		#header footer
		{
			margin: 1em 0 0 0;
		}
		
		#header hr
		{
			top: 1.5em;
			margin-bottom: 3em;
			font-size: 1.25em;
			margin: 0;
			border-bottom-color: rgba(192,192,192,0.35);
			box-shadow: inset 0 1px 0 0 rgba(192,192,192,0.35);
		}
		
			#header hr:before,
			#header hr:after
			{
				background: rgba(192,192,192,0.35);
			}

	
	
		h2 a
		{
			color: inherit;
			text-decoration: none;
			border-bottom-color: transparent;
		}
		
		h2 strong
		{
			font-weight: 600;
		}

	h2
	{
		font-size: 2.85em;
		color: #ae005a;
		font-style: courier new;
	}
	
	
	
	.textcenter
	{
		font-size: 1.5em;
		
	}


		a:hover
		{
			color: #fff;
			border-bottom-color: transparent;
		}


	hr
	{
		position: relative;
		display: block;
		border: 0;
		margin-bottom: 15em;
		height: 7px;
		border-top: solid 1px rgba(128,128,128,0.2);
		border-bottom: solid 1px rgba(128,128,128,0.2);
	}
	
	

	/* -------Buttons--------------- */
		
		.button
		{
			position: relative;
			display: inline-block;
			background: #d1005d;
			color: #fff;
			text-align: center;
			border-radius: 0.5em;
			text-decoration: none;
			padding: 0.80em 3em 0.80em 3em;
			border: 0;
			cursor: pointer;
			outline: 0;
		}

			.button:hover
			{
				color: #fff;
				background: #ae005a;
			}
			

